.header {
    color: maroon;
    background-color: black;
    box-sizing: border-box; 
    border: 5px solid black;
    text-align-last: center;
    /* padding-left: 40%; */
    background-image: image-set("imgs/yeast-header.jpeg");
    padding-top: 20px;
}

.top-logo {
    border: 2px solid black;
}

.song-button, .concerts-button {
    font-size: xx-large;
    margin-top: 20px;
}

.button-box {
    box-sizing: border-box;
    /* border: 5px solid black; */
    text-align: center;
}

* {
    text-align: center;
}

.description {
    border: solid black;
}

.description-box {
    /* border: solid black; */
    margin-left: 25px;
    margin-right: 25px;
}